@media screen and (max-width: 1300px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }

  .header {
    justify-content: space-between;
    margin: 0;
    position: static;
  }

  .header-content {
    justify-content: space-between;
  }

  .navbar {
    display: none;
  }
  .header button {
    display: none;
  }

  .page1-title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 132.83%;
    text-transform: uppercase;
  }

  .page1-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135.84%;
    color: #ffffff;
  }

  .button1 {
    width: 100%;
  }

  .page1-buttons {
    display: flex;
    flex-direction: column;
    width: 338px;
  }

  .page2-content {
    padding-top: 0;
  }

  .page2-content-block1 {
    display: flex;
    flex-direction: column;
  }

  .page2-content-block2 {
    display: none;
  }

  .rooms-block {
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: fit-content;
    height: fit-content;
  }

  .page2-content-block1 {
    margin: 0 auto;
  }

  .page2-content-block1 h2 {
    text-align: center;
  }

  .page2-text-block1 {
    text-align: center;
  }

  .mobile-slider {
    display: block;
    margin: 0 auto;
  }

  .page2-content-block2 ul {
    display: none;
  }

  .page2-block1-elem {
    margin: 0 auto;
    margin-top: 50px;
  }

  .contact-form {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .name-input {
    margin-right: 0;
    width: 100%;
  }

  .phone-input {
    margin-right: 0;
    width: 100%;
  }

  .button3 {
    width: 100%;
  }
  .checkbox-1__mobile {
    display: block;
    margin-bottom: 30px;
  }

  .checkbox-1 {
    display: none;
  }

  .slider {
    display: none;
  }

  .background-image3 {
    display: none;
  }

  .page3-video {
    width: 90%;
  }

  .page3 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .room {
    height: fit-content;
  }

  .citybg {
    display: none;
  }

  .wrapper:nth-child(6) {
    display: none;
  }

  .page4 {
    display: none;
  }
  .fantasies-list {
    display: none;
  }

  .fantasies-room-right {
    display: none;
  }

  .contact-block3 {
  }

  .background-image4 {
  }

  .footer {
    display: none;
  }
}
