* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  font-size: 11px;
  height: 83px;
  text-transform: uppercase;
}
.header {
  background: #131313;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 83px;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 47px;
  text-decoration: none !important;
}

.nav-link:hover {
  color: #e3b873;
}

.nav-brand {
  display: flex;
  align-items: center;
  color: #e3b873;
  margin-right: 10%;
}

.top-nav {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
}

.phone-button-block {
  display: flex;
  align-items: center;
  margin-left: 53px;
}

.phone {
  color: #e3b873;
}

.phone:hover {
  text-decoration: underline;
}

.button {
  background: transparent;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  padding: 13px 33px;
  color: white;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
  height: 37px;
  font-size: 11px;
  margin-left: 45px;
}

.button:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 0;
}

.background-image1 {
  background-image: url(img/bg1.jpg);
  background-size: cover;
  height: 707px;
  position: relative;
}

.background-image1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 100%;
  height: auto;
}

.page1-title span {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  color: #e3b873;
}

.page1-content {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 194px 0 0 50px;
}

.page1-title {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.page1-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 21px;
}

.page1-buttons {
}

.button1 {
  padding: 20px 41px;
  background: transparent;
  border-radius: 2px;
  font-size: 11px;
  outline: 0;
  border: 1px solid white;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.button1:hover {
  background: #e3b873;

  border-radius: 2px;
  border: 0;
}

.button2 {
  outline: 0;
  border: 0;
  padding: 20px 22px;
  border: 1px solid #ffffff;
  font-size: 11px;
  border-radius: 2px;
  background: transparent;
  color: white;
  cursor: pointer;
}
.button2:hover {
  background: #e3b873;

  border-radius: 2px;
  border: 0;
}

.page2 {
  background: #131313;
  padding-bottom: 258px;
}

.page2-content {
  margin-left: 50px;
  padding-top: 107px;
  padding-bottom: 91px;
  display: flex;
}

.page2-content-block1 {
  padding-top: 63px;
}

.page2-title-block1 {
  margin-bottom: 34px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}

.page2-text-block1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 42px;
}

.mobile-slider {
  display: none;
}

.page2-block1-elem {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  justify-content: space-between;
  margin-bottom: 45px;
}

.page2-content-block2 img {
  max-width: 679px;
}

.elements {
  margin-bottom: 34px;
}

.elements h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 10px;
}

.elements p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}
.page2-content-block2 {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 50px;
}

.page2-content-block2 ul {
  display: flex;
  white-space: nowrap;
}

.page2-content-block2 ul li {
  margin-right: 60.5px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 53px;
}

.page2-content-block2 ul li:hover {
  color: #e3b873;
  display: inline-block;
  vertical-align: baseline;
  line-height: 0.95;
  cursor: pointer;
  border-bottom: 1px #e3b873 solid;
}

.slider-elements {
  margin-right: 25px;
}

.onlinecontrol-block h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.camerasvg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  margin: 0 auto;
  margin-top: 13px;
}

.page3 {
  display: flex;
  justify-content: center;
}

.page3-video {
  margin-top: -230px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.page3-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 817px;
  margin: 0 auto;
}

.play-svg {
  position: absolute;
  cursor: pointer;
}

.line-svg {
  display: flex;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 34px;
}

.page3-info {
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  color: #363636;
  margin-bottom: 93px;
}

.contact-form {
  margin: 0 auto;
  width: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 148px;
}

.name-input {
  width: 231px;
  height: 50px;
  margin-right: 58px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}

.phone-input {
  width: 231px;
  height: 50px;
  margin-right: 49px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}

.checkbox-1__mobile {
  display: none;
}

.button3 {
  padding: 20px 72px 20px 72px;
  background: #e3b873;

  border-radius: 2px;
  border: 0;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 32px;
  outline: none;
  cursor: pointer;
}

.repair-block {
  margin-bottom: 31px;
}

.repair-block h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.rooms-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1236px;
}

.room ul li {
  list-style-position: inside;
  list-style-type: disc;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}
.rooms-text {
  width: 330px;
  height: 286px;
  margin-top: -135px;
  margin-left: 31px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  position: absolute;
}

.rooms-text h2 {
  margin-top: 25px;
  margin-left: 34px;
  margin-bottom: 13px;
}
.rooms-text li {
  margin-left: 34px;
}

.room img {
  position: relative;
}
.room h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #363636;
}

.room-price {
  position: absolute;
  margin-top: 12px;
  background: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  padding: 17px 21px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper1 {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.page4 {
  width: 100%;
  margin-top: 300px;
  display: flex;
  margin-left: -80px;
}

.background-image2 {
  background-image: url(/img/back2.png);
  background-repeat: no-repeat;
  width: 900px;
  height: 645px;
  position: relative;
  margin-left: -150px;
}

.feature-list {
  margin-top: 100px;
  margin-left: 400px;
}
.list-element2 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.svg-number {
  position: relative;
}
.svg-num {
  position: absolute;
  margin-left: 32.5px;
  margin-bottom: 8px;
  z-index: 1;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.contact-block2 {
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  width: 507px;
  height: 530px;
  margin-left: 150px;
  margin-top: 100px;
}

.contact-block2 h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
  margin-top: 28px;
}

.contact-form2 {
  display: flex;
  flex-direction: column;
  margin-left: 49px;
}
.input-name1 {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: 0;
  width: 85%;
  height: 35px;
  margin-bottom: 48px;
}

.input-phone1 {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: 0;
  width: 85%;
  height: 35px;
  margin-bottom: 48px;
}

.input-email1 {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: 0;
  width: 85%;
  height: 35px;
  margin-bottom: 48px;
}

.checkbox1 {
  display: flex;
  align-items: center;
  color: white;
  margin-top: -30px;
}

.checkbox1 input {
  margin-right: 8px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}

.button4 {
  width: 213px;
  height: 51px;
  margin-top: 25px;
  margin-left: 38.8%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}

.button4:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border: 0;
}

.pig {
  display: flex;
  margin-top: 55px;
  align-items: center;
}

.pig-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: -20px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.background-image3 {
  background-image: url(img/bg3.jpg);
  background-size: cover;
  height: 864px;
  position: relative;
  margin-top: 342px;
  margin-bottom: 110px;
}

.background-image3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.fantasies {
  display: flex;

  position: absolute;
  margin-left: 5px;
  justify-content: space-between;
}

.fantasies-title h2 {
  margin-top: 137px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  margin-bottom: 47px;
  text-transform: uppercase;
  color: #e3b873;
}

.fantasies-list li {
  margin: 22px 0;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  width: fit-content;
  border-bottom: 1px solid transparent;
}

.fantasies-list li:hover {
  cursor: pointer;
  font-family: Nunito Sans;
  border-bottom: 1px solid #e3b873;
  color: #e3b873;
}

.fantasies-room-block {
  display: flex;
  justify-content: flex-end;
  margin-left: 230px;
}

.fantasies-room-left {
  display: flex;
  flex-direction: column;
  height: 945px;
  justify-content: space-between;
  margin-top: -41px;
}

.fantasies-room-right {
  display: flex;
  flex-direction: column;
  margin-left: 43px;
  height: 936px;
  justify-content: space-between;
  margin-top: -112px;
}

.citybg {
  opacity: 0.06;
  display: flex;
  justify-content: center;
}

.city--reversed {
  transform: scaleX(-1);
}

.clients-title {
  text-align: center;
  margin-bottom: 40px;
}
.clients-title img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cl-title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #181818;
}

.cl-par {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #363636;
}

.clients {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.client-block {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding: 13.6px 32px 90px 20px;
}

.photo {
  border-radius: 100%;
}

.client-block p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
}

.client-name_block {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 18px;
}

.client-name_block h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #181818;
  margin-left: 23px;
  margin-bottom: 4px;
}

.clients-info {
  display: flex;
  margin-left: -20px;
  position: absolute;
  margin-top: 62px;
}

.clients-size_info {
  width: 135px;
  height: 54px;
  background: #e3b873;
  border-radius: 0;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  border-right: 0.75px solid #ffffff;
  display: flex;
}

.clients-date_info {
  width: 159px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  display: flex;
}
.clients-size_info img {
  width: 32px;
  height: 32px;
  margin-top: 11px;
  margin-left: 17px;
}

.clients-date_info img {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 17px;
}

.clients-size_info p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
  margin-left: 17px;
}

.clients-date_info p {
  margin-top: 12px;
  margin-left: 17px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.background-image4 {
  background-image: url(img/bg4.jpg);
  background-size: cover;
  height: 954px;
  position: relative;
}

.background-image4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.background-image4 .wrapper {
  display: flex;
  justify-content: center;
}

.contact-block3 {
  position: absolute;
  z-index: 100;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34.4px 181.5px;
  margin-top: -200px;
  max-width: 100%;
}

.contact-block3 h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.input-block {
  max-width: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-block {
  display: flex;
  justify-content: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.checkbox-block input {
  display: flex;
  justify-content: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  margin-right: 8.6px;
}

.name-input1 {
  width: 231px;
  margin-bottom: 51px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: 0;
  margin-top: 51px;
}

.phone-input1 {
  width: 231px;
  margin-bottom: 51px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: 0;
  margin-top: 51px;
}

.question-input1 {
  width: 516px;
  margin-bottom: 51px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: 0;
}

.button5 {
  width: 200px;
  height: 51px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
  margin-top: 51px;
}

.button5:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border: 0;
}

.mobile-slider1 {
  display: none;
}

.contact-info {
  position: absolute;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  font-family: "Yeseva One";
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin-top: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.contact-info h2 {
  font-family: "Yeseva One";
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 71px;
  cursor: pointer;
}

.map {
  position: absolute;
  margin-top: 430px;
}

.contact-info-mobile {
  display: none;
}

.footer {
  background-color: black;
  margin: 0;
  padding: 0;
}

.footer-content {
  display: flex;
  font-size: 11px;
  height: 133px;
  text-transform: uppercase;
}

.checkbox-1 {
}

INPUT[type="text"] {
  color: white;
}

.input-name1::-webkit-input-placeholder {
  color: white;
}

.input-phone1::-webkit-input-placeholder {
  color: white;
}

.input-email1::-webkit-input-placeholder {
  color: white;
}

.name-input1::-webkit-input-placeholder {
  color: white;
}
.phone-input1::-webkit-input-placeholder {
  color: white;
}
.question-input1::-webkit-input-placeholder {
  color: white;
}

/*checkbox */
.own_checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom_checkbox {
  position: absolute;
  margin-top: 0.3em;
  margin-left: -1.2em;

  width: 0.8em;
  height: 0.8em;
  background-color: #e3b873;
  border-radius: 0.05em;
  background-repeat: no-repeat;
}

/* checked */

.own_checkbox:checked + .custom_checkbox {
  background-color: #e3b873;
  background-image: url(svg/Vector.svg);
}

/* focused */
.own_checkbox:focus + .custom_checkbox {
  box-shadow: 0 0 0 0.1em #000, 0 0 0 0.2 #e3b873;
}
