*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', Arial, sans-serif;
}

body * {
	box-sizing: border-box;
}

li{
	list-style-type: none;
}

.wrapper{
	
	max-width: 1256px;
	margin-left: auto;
    margin-right: auto;
}
.header-content{
	display: flex;
	font-size: 11px;
	height: 83px;
	text-transform: uppercase;
}
.header{
	background-color: black;
	
}

.nav-link {
	text-decoration: none;
	color: white;
	margin-right: 47px;
	
}

.nav-link:hover{
	color: #E3B873;
}

.nav-brand{
	display: flex ;
	align-items: center;
	color: #E3B873;
	margin-right: 123px;
	
}

.top-nav{
	display: flex;
	
}

.navbar{
	display: flex;
	align-items: center;
	
}

.phone-button-block{
	display: flex;
	align-items: center;
	margin-left: 53px;
	
}

.phone{
	color: #E3B873;
	
}

.button{
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 0;
	cursor:pointer;
	padding: 13px 33px;
	color: white;
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
	height: 37px;
	font-size: 11px;
	margin-left: 45px;
}

.background-image1{
	background-image: url(img/bg1.jpg);
	-moz-bac
	background-size: cover;
	height: 707px;
	position: relative;
	

}

.background-image1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);

}

.page1-title span{
	font-family: "Yeseva One", 'Times New Roman', Times, serif;
	color: #E3B873;
}

.page1-content{
	color: white;
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: 194px 0 0 50px;
}

.page1-title{
	font-family: "Yeseva One", 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.page1-text{
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 21px;
}

.button1{
	padding: 20px 41px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-radius: 2px;
	font-size: 11px;
	outline: 0;
	border: 0;
	color: white;
	margin-right: 20px;
	cursor:pointer;
}

.button2{
	outline: 0;
	border: 0;
	padding: 20px 22px;
	border: 1px solid #FFFFFF;
	font-size: 11px;
	border-radius: 2px;
	background:transparent;
	color: white;
	cursor:pointer;
}

.page2{
	background-color: black;
}

.page2-content{
	margin-left: 50px;
	padding-top: 107px;
	padding-bottom: 91px;
	display: flex;
	
}

.page2-content-block1{
	padding-top: 63px;
}

.page2-title-block1{
	margin-bottom: 34px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}

.page2-text-block1{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 42px;
}

.page2-block1-elem{
	display: flex;
	flex-wrap: wrap;
	width: 370px;
	justify-content: space-between;
	margin-bottom: 45px;
}

.elements{
	margin-bottom: 34px;
}

.elements h3{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #e3b873;
	margin-bottom: 10px;
}

.elements p{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #ffffff;
}
.page2-content-block2{
	color: rgba(255, 255, 255, 0.3);
	
	margin-left: 50px;
}

.page2-content-block2 ul{
	display: flex;
	white-space:nowrap;
	
}

.page2-content-block2 ul li{
	margin-right: 60.5px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	margin-bottom: 53px;
	
}

.page2-content-block2 ul li:hover{
	color: #E3B873;
	display: inline-block;
	vertical-align: baseline;
	line-height:.95;
	cursor:pointer;
	border-bottom: 1px #E3B873 solid;
	
}

.slider{
	
}

.slider-elements{
	margin-right: 25px;

}